*.o
*.a
*.so
*.exe
tags
TAGS
build/
Test/localResults/
Test/multiThread.out
Test/singleThread.out
Test/vert.spv
Test/frag.spv
External/googletest
*.latest.out
*.latest.spv
*.xksl.spv
*.xksl.hr.spv
.hr.spv
